@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
    --bg-main: #131722;
    --light-bg: #24baef;
    --main-color: #fff;
    --border-color: #a8a8a83d;
}
body {
    background-color: var(--bg-main);
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
}
a,a:hover {
    color: #fff;
    text-decoration: none;
}
img {
    border-radius: 10px;
}
.brdr {
    height: 1px;
    background-color: var(--border-color);
}
input{
    background-color: transparent !important;
    color: #fff !important;
}


